* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

.navbar {
    width: 100%;
    height: 65px;
    background-color: #ffffff;
    font-size: 17px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#menuBtn {
    line-height: 32px;
    background-color: #1F294D;
    border-radius: 5px;
    color: #fff;
    float: left;
    height: 4px;
    margin: 15px 20px;
    padding: 7px 20px 33px 15px;
    text-transform: uppercase;
}


@media screen and (max-width: 500px) {

    .overlay a {
        font-size: 17px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}